* {
  box-sizing: border-box;
}
.inputcontainer{
  display:flex;
  width: 300px;
  flex-wrap:wrap;
  gap:10px;
  justify-content: start;
  margin-left:20px;
}
.createcontainer,
.updatecontainer{
  display:flex;
  gap:10px;
}
.input_color{
  height:20px;
  width:30px;
}
.input_text{
  width:150px;
  height:20px;
}
.btncontainer{
  margin-left:20px;
  display:flex;
  gap:10px;
  margin-top:10px;
  width:300px;
  justify-content: start;
}
.board{
  margin-top:20px;
  height:50vh;
  width:99vw;
  background-color: black;
  margin-left:0

}
.row{
  display:flex;
  height:80px;

}
.controls{
  width:110px;
  display:flex;
  flex-wrap:wrap;
  gap:5px;

}
.name{
text-align:center;
 width:300px;
 overflow-x: visible;
height:20px;
  color:white;
  white-space: nowrap;
}
.track{
  position:relative;
  width:calc(99vw - 110px);
  border-bottom:1px dashed white;
}

.car{
  position:absolute;
  bottom:0;
  width:80px;
  height:40px;
  animation-name: trans;
  animation-duration:10s;
  animation-play-state: paused;
  animation-fill-mode:forwards;
  animation-timing-function: linear;

}
@keyframes trans{
  0%{
transform:translateX(0)
  }
  100%{
    transform:translateX(calc(80vw - 110px))
  }
}
.flag{
  width:20px;
  height: 40px;
  position:absolute;
  left:calc(80vw - 130px)
}
.winner_table{
  background-color:black;
  color:white;
}
.winner_item,
.table_header{
  align-items: center;
  justify-content: space-evenly;
  gap:10px;
  display:flex;
  flex-direction: row;
  text-align:center;
}
.overlay{
  background-color: black;
  opacity: 0.6;
  color:white;
  padding-top:40vh;
  position:absolute;
  top:0;
  left:0;
  width:99vw;
  height:100vh;
  font-size:40px;
  z-index: 20;
  display: none;
}
.wins,.time{
  cursor:pointer;
}
.car_item,
.time_elem,
.position,
.win_elem
{
  width:80px;}
  .name{
    width:300px;
  }
